table {
    width: 100%;
    text-align: left;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .highlighted.active {
    background-color: #5cbf33;
  }
  .highlighted.hold {
    background-color: #3da5d7;
  }
  .highlighted.queued {
    background-color: #f49f31;
  }

  .row-identifier {
    color: #29b0dc;
  }

  .highlighted.highlighted .row-identifier {
    color: white;
  }